  <footer>
    <div class="w-max-wrapper mx-auto flex">
      <p class="text-h4 my2 px2">&copy; 2022 - <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> Johan Groenen (<a href="https://www.tiltshift.nl">Tiltshift</a>) for <a href="https://eurocities.eu/">Eurocities</a></p>
      <p class="text-h4 my2 px2">Some of the texts above are reused from <a href="https://www.gov.uk/government/collections/algorithmic-transparency-recording-standard-hub">GOV.UK</a> under <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a></p>
    </div>
  </footer>