<div class="bg-light-grey py6">
  <div class="flex mx-auto w-max-wrapper dir-col md:dir-row">
    <div class="flex-1 px2">
      <div class="md-zone">
        <h2>Eurocities</h2>
        <p>Eurocities is the network of more than 200 cities in 38 countries, representing 130 million people, working together to ensure a good quality of life for all.</p>
      </div>
    </div>
    <div class="flex-1 px2">
      <div class="px4">
        <img src="img/Eurocities-logo.png" class="display-block p4">
      </div>
    </div>
  </div>
</div>